/*? Home Top */

.playlistMenuButton:hover + .playlistMenuPlayButton{
    scale: 110;
}

.playlistMenuContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 10px;
}

@media (max-width: 1000px) {
    .playlistMenuContainer {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
}


@media (max-width: 1000px) {
    .HomeSlider div:nth-child(5){
        display: none;
    }
    
    .HomeSlider div:nth-child(3){
        display: none;
    }
}
